
# nix
result
/.data
/.cache

# rust
target/

# nixago: ignore-linked-files
/auth/fly.toml
/mailslurper.json
/kratos.yaml
/hydra.yaml
/.conform.yaml
/.prettierrc
/lefthook.yml
/treefmt.toml

/auth/public/output.css
