{% macro input(label, input) %}
{% if input.attributes.type == "submit" %}
<div class="w-full">
    <input type="hidden" name="{{ input.attributes.name }}" value={{ input.attributes.value }} />
    <div
        class="relative border rounded w-full bg-white border-pink-300 bg-gradient-to-b from-pink-100 to-pink-200 hover:from-pink-200 hover:to-pink-300"
    >
    <input
        class="w-full h-full relative group text-pink-500 p-2"
        type="submit"
        {% if input.attributes.disabled %} disabled {% endif %}
        value="{{ label.text }}"
    />
    </div>
</div>
{% else %}
<div class="w-full">
    {% if label %}
    <div class="text-pink-200"
         id="{{ label.id }}"
    >{{ label.text }}</div>
    {% endif %}
    <{{ input.type }}
        class="border rounded w-full border-pink-200 px-1"
        name="{{ input.attributes.name }}"
        {% if label %} placeholder="{{ label.text }}" {% endif %}
        {% if input.attributes.disabled %} disabled {% endif %}
        type="{{ input.attributes.type }}"
        {% if input.attributes.value %} value="{{ input.attributes.value }}" {% endif %}
        {% if input.attributes.autocomplete %} autocomplete="{{ input.attributes.autocomplete }}" {% endif %}
        {% if input.attributes.required %} required="{{ input.attributes.required }}" {% endif %}
    />
</div>
{% endif %}
{% endmacro input %}
