{% extends "base.html" %}
{% block title %}Log In{% endblock title %}
{% block content %}
    <h1 class="text-3xl">Log into Featurize!</h1>
    {% for msg in flow.ui.messages %}
        <div class="text-red">{{msg.type}}: {{msg.text}}</div>
    {% endfor %}
    <form class="flex flex-col space-y-2" action="{{flow.ui.action}}" method="{{flow.ui.method}}">
        {% for node in flow.ui.nodes %}
            {% for msg in node.messages %}
                <p>{{msg.text}}</p>
            {% endfor %}
            <{{node.type}}
                class="border rounded"
                name="{{node.attributes.name}}"
                placeholder="{{node.attributes.name}}"
                {% if node.attributes.disabled %} disabled {% endif %}
                type="{{node.attributes.type}}"
                {% if node.attributes.value %} value="{{node.attributes.value}}" {% endif %}
            />
        {% endfor %}
    </form>
{% endblock content %}
